In [1]:
import pandas as pd

In [2]:
hise = pd.read_csv("hise.csv")

In [3]:
hise

,id,cena,regija,upravna,obcina,leto_gradnje,leto_adaptacije,povrsina,gradnja
0,6467192,480000.0,LJ-mesto,Lj. Moste-Polje,Ljubljana,2022.0,NaN,187.99,samostojna
1,6387983,275000.0,Gorenjska,Radovljica,Bled,1800.0,1950.0,400.00,samostojna
2,6462270,180000.0,Gorenjska,Radovljica,Bohinj,1892.0,1950.0,188.70,vrstna
3,6506148,680000.0,LJ-mesto,Lj. Šiška,Ljubljana,1975.0,NaN,385.00,samostojna
4,6475865,239800.0,Savinjska,Celje,Celje,2022.0,NaN,139.40,dvojček
...,...,...,...,...,...,...,...,...,...
3235,6489255,214900.0,LJ-okolica,Domžale,Domžale,1986.0,NaN,110.00,samostojna
3236,6475309,230000.0,Posavska,Brežice,Brežice,1900.0,2008.0,539.06,samostojna
3237,6475636,142000.0,Gorenjska,Škofja Loka,Železniki,2021.0,NaN,235.00,vrstna
3238,6495022,138000.0,Gorenjska,Škofja Loka,Železniki,1980.0,NaN,270.00,samostojna
3239,6454124,59000.0,Gorenjska,Škofja Loka,Železniki,1750.0,NaN,150.00,dvojček

In [9]:
hise_leto_gradnje = hise.groupby("leto_gradnje")

In [14]:
hise_leto_gradnje.size()

leto_gradnje
1111.0      1
1340.0      1
1493.0      1
1500.0      1
1507.0      1
         ...
2020.0     25
2021.0     68
2022.0    263
2023.0     48
2024.0     32
Length: 207, dtype: int64