In [1]:
import pandas as pd

In [2]:
hise = pd.read_csv("hise.csv")

In [3]:
hise

,id,cena,regija,upravna,obcina,leto_gradnje,leto_adaptacije,povrsina,gradnja
0,6467192,480000.0,LJ-mesto,Lj. Moste-Polje,Ljubljana,2022.0,NaN,187.99,samostojna
1,6387983,275000.0,Gorenjska,Radovljica,Bled,1800.0,1950.0,400.00,samostojna
2,6462270,180000.0,Gorenjska,Radovljica,Bohinj,1892.0,1950.0,188.70,vrstna
3,6506148,680000.0,LJ-mesto,Lj. Šiška,Ljubljana,1975.0,NaN,385.00,samostojna
4,6475865,239800.0,Savinjska,Celje,Celje,2022.0,NaN,139.40,dvojček
...,...,...,...,...,...,...,...,...,...
3235,6489255,214900.0,LJ-okolica,Domžale,Domžale,1986.0,NaN,110.00,samostojna
3236,6475309,230000.0,Posavska,Brežice,Brežice,1900.0,2008.0,539.06,samostojna
3237,6475636,142000.0,Gorenjska,Škofja Loka,Železniki,2021.0,NaN,235.00,vrstna
3238,6495022,138000.0,Gorenjska,Škofja Loka,Železniki,1980.0,NaN,270.00,samostojna
3239,6454124,59000.0,Gorenjska,Škofja Loka,Železniki,1750.0,NaN,150.00,dvojček

In [5]:
hise.groupby("regija").count()

,id,cena,upravna,obcina,leto_gradnje,leto_adaptacije,povrsina,gradnja
regija,,,,,,,,
Dolenjska,194,194,194,194,186,89,194,194
Gorenjska,276,276,276,276,270,127,276,276
J. Primorska,427,427,427,427,415,214,427,427
Koroška,48,48,48,48,47,28,48,48
LJ-mesto,405,405,405,405,399,171,405,405
LJ-okolica,534,534,534,534,525,174,534,534
Notranjska,58,58,58,58,57,29,58,58
Podravska,487,487,487,487,485,191,487,487
Pomurska,137,137,137,137,135,59,137,137
Posavska,121,121,121,121,113,50,121,121
S.Primorska,166,166,166,166,155,58,166,166
Savinjska,359,359,359,359,350,146,359,359
Zasavska,28,28,28,28,27,15,28,28